
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="main-container ace-save-state" id="main-container">

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                  
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Bàn làm việc
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="widget-box">
                            <div class="widget-header">
                                <h4 class="smaller">Văn bản đến</h4>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                Cho nội dung văn bản đến vào đây
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        Chỗ này cho cái biểu đồ vào
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        Có thể để tin tức Hoặc nhắc nhở xử lý các văn bản
                    </div>
                    <div class="col-md-6">
                     Thích vẽ gì vào thì vẽ
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div>
</div>

