@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


<script src="~/ScriptController/NguoiDungScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="NguoiDungJS">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">Thêm mới người dùng</li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" ng-model="SearchObject.TenTaiKhoan" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <a class="btn btn-primary btn-xs" ng-click="sort()"><i class="fa fa-search"></i></a>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content text-right" style="padding-bottom:3em;">
                <div class="ace-settings-container" id="ace-settings-container">
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới <i class="glyphicon glyphicon-plus"></i></button>
                    <br />
                    <br />
                    <button class="btn btn-sm btn-primary " ng-click="export()">Export Exel <i class="glyphicon glyphicon-download-alt"></i></button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->
            </div>
            <iframe id="downloadfile" style="display:none"></iframe>
            <div class="page-header">
                <h1>
                    Danh sách người dùng
                </h1>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table class="table table-responsive table-bordered" id="grid-table">
                        <tr>
                            <th>Tên tài khoản</th>
                            <th>Mật khẩu</th>
                            <th>Kích hoạt</th>
                            <th>Mã nhân sự</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr ng-repeat="sp in datagrid">
                            <td>{{sp.tenTaiKhoan}} </td>
                            <td>{{sp.matKhau}} </td>
                            <td>{{sp.kichHoat}} </td>
                            <td>{{sp.maNhanSu}} </td>
                            <td>
                                <a class="btn btn-primary btn-sm" ng-click="onEdit(sp.id)"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" ng-click="confirmdelete(sp.id)"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                    <div>

                        <ul uib-pagination total-items="pageCount"
                            ng-model="currentPage"
                            class="pagination-sm"
                            ng-change="pagechaned()"
                            items-per-page="PageSize"></ul>
                    </div>
                    <div id="grid-pager"></div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>

    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới người dùng</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Tên tài khoản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.tenTaiKhoan" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">mật khẩu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.matKhau" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">kích hoạt:</label>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" value="kichhoat" ng-model="model.kichHoat" /> Kích Hoạt
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" value="bokichhoat" ng-model="model.kichHoat" /> Bỏ Kích Hoạt
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã nhân sự:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.maNhanSu" />
                            </div>
                        </div><br>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notifycal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Xóa Thông Tin</h4>
                    </div>
                    <div>
                        <p>Bạn chắc chắn muốn xóa thông tin này?</p>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onDelete(idremove)"><i class="fa fa-check-square-o"></i> Đồng ý</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main-content -->
