@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/ScriptController/LoaiVanBanScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="LoaiVanBanJS">

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>

                    <li>
                        <a href="#">Trang hiện tại</a>
                    </li>
                    <li class="active">Thêm mới loại văn bản</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>
                    <button class="btn btn-sm btn-success" data-target="#confirm-status" data-toggle="modal">Thêm mới</button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Danh sách loại văn bản
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table class="table table-responsive table-bordered" id="grid-table">
                            <tr>
                                <th>Mã loại</th>
                                <th>Tên</th>
                                <th>Tên viết tắt</th>
                                <th>Kiểu văn bản</th>
                            </tr>
                            <tr ng-repeat="sp in datagrid">
                                <td>{{sp.maLoaiVB}} </td>
                                <td>{{sp.tenLoaiVB}} </td>
                                <td>{{sp.tenVietTat}} </td>
                                <td>{{sp.kieuVanBan}} </td>
                            </tr>
                        </table>

                        <div id="grid-pager"></div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>


    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới loại văn bản</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã loại văn bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.MaLoaiVb" />
                            </div>
                        </div>
                        <div class="row">

                            <label class="col-sm-3 control-label no-padding-right text-right">Tên loại văn bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TenLoaiVb" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Tên viết tắt:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TenVietTat" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Kiểu văn bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.KieuVanBan" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main-content -->
