@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/ScriptController/VanBanScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="VanBanJS">

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>

                    <li>
                        <a href="#">Trang hiện tại</a>
                    </li>
                    <li class="active">Thêm mới văn bản</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>
                    <button class="btn btn-sm btn-success" data-target="#confirm-status" data-toggle="modal">Thêm mới</button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Danh sách văn bản
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table class="table table-responsive table-bordered" id="grid-table">
                            <tr>
                                <th>Văn bản đi đến</th>
                                <th>Mã loại văn bản</th>
                                <th>Mã cơ quan ban hành</th>
                                <th>Số văn bản</th>
                                <th>Số đến</th>
                                <th>Ngày đến</th>
                                <th>Độ mật</th>
                                <th>Độ khẩn</th>
                                <th>Trích yếu</th>
                                <th>Nơi nhận</th>
                                <th>Ngày ký</th>
                                <th>Người ký</th>
                                <th>Kết quả xử lý</th>
                                <th>File đính kèm</th>
                                <th>Hạn xử lý</th>
                            </tr>
                            <tr ng-repeat="">
                                <td>{{sp.vanBanDiDen}} </td>
                                <td>{{sp.maLoaiVanBan}} </td>
                                <td>{{sp.maCQBH}} </td>
                                <td>{{sp.soVB}} </td>
                                <td>{{sp.soDen}} </td>
                                <td>{{sp.ngayDen}} </td>
                                <td>{{sp.doMat}} </td>
                                <td>{{sp.doKhan}} </td>
                                <td>{{sp.trichYeu}} </td>
                                <td>{{sp.noiNhan}} </td>
                                <td>{{sp.ngayKy}} </td>
                                <td>{{sp.nguoiKy}} </td>
                                <td>{{sp.ketQuaXuLy}} </td>
                                <td> {{sp.fileDinhKem}}</td>
                                <td>{{sp.hanXuLy}} </td>
                            </tr>
                        </table>

                        <div id="grid-pager"></div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>


    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới cấp cơ quan ban hành</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Văn bản đi đến:</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" ng-model="model.VbdiDen" />
                            </div>
                        </div>
                        <div class="row">

                            <label class="col-sm-3 control-label no-padding-right text-right">Mã loại văn bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.MaLoaiVb" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã cơ quan ban hành:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.MaCqbh" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Số văn bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.SoVb" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Số Đến:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.SoDen" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Ngày đến:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.NgayDen" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Độ mật:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.DoMat" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Độ khẩn:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.Dokhan" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Trích yếu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TrichYeu" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Nơi nhận:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.NoiNhan" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Ngày ký:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.NgayKy" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Người ký:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.NguoiKy" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Kết quả xử lý:</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" ng-model="model.KetQuaXuLy" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">File đính kèm:</label>
                            <div class="col-sm-9">
                                <input type="checkbox" class="form-control" ng-model="model.FileDinhKem" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Hạn xử lý:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.HanXuLy" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main-content -->
