@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}


<script src="~/ScriptController/ChucVuScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="ChucVuJS">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">Thêm mới chức vụ</li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" ng-model="SearchObject.MaChucVu" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <a class="btn btn-primary btn-xs" ng-click="sort()"><i class="fa fa-search"></i></a>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content text-right" style="padding-bottom:3em;">
                <div class="ace-settings-container" id="ace-settings-container">
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới <i class="glyphicon glyphicon-plus"></i></button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->
            </div>
            <div class="page-header">
                <h1>
                    Danh sách chức vụ
                </h1>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <table class="table table-responsive table-bordered" id="grid-table">
                        <tr>
                            <th>Mã số</th>
                            <th>Tên </th>
                            <th>Hệ số </th>
                            <th>Mô tả</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr ng-repeat="sp in datagrid">
                            <td>{{sp.maChucVu}} </td>
                            <td>{{sp.tenChucVu}} </td>
                            <td> {{sp.heSoChucVu}}</td>
                            <td>{{sp.moTa}} </td>
                            <td>
                                <a class="btn btn-primary btn-sm" ng-click="onEdit(sp.id)"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm" ng-click="confirmdelete(sp.id)"> <i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    </table>
                    <div>

                        <ul uib-pagination total-items="pageCount"
                            ng-model="currentPage"
                            class="pagination-sm"
                            ng-change="pagechaned()"
                            items-per-page="PageSize"></ul>
                    </div>
                    <div id="grid-pager"></div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
        </div>
    </div>

    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới chức vụ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã chức vụ:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.maChucVu" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Tên chức vụ:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.tenChucVu" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Hệ số chức vụ:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.heSoChucVu" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mô tả:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.moTa" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-info" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notifycal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Xóa Thông Tin</h4>
                    </div>
                    <div>
                        <p>Bạn chắc chắn muốn xóa thông tin này?</p>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onDelete(idremove)"><i class="fa fa-check-square-o"></i> Đồng ý</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main-content -->
