@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/ScriptController/NhanSuScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="NhanSuJS">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">Thêm mới nhân sự</li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới</button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->
                <div class="page-header">
                    <h1>
                        Danh sách nhân sự
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table class="table table-responsive table-bordered" id="grid-table">
                            <tr>
                                <th>Mã </th>
                                <th>Tên</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ nhà</th>
                                <th>Địa chỉ cơ quan</th>
                                <th>Điện thoại</th>
                                <th>Mã phòng</th>
                                <th>Thao tác</th>
                            </tr>
                            <tr ng-repeat="sp in datagrid">
                                <td>{{sp.maNhanSu}} </td>
                                <td>{{sp.ten}} </td>
                                <td>{{sp.gioiTinh}}</td>
                                <td>{{sp.ngaySinh| date:"dd/MM/yyyy"}}</td>
                                <td>{{sp.diaChiNr}} </td>
                                <td>{{sp.diaChiCq}} </td>
                                <td>{{sp.dienThoai}} </td>
                                <td>{{sp.maPhong}} </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" ng-click="onEdit(sp.id)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" ng-click="confirmdelete(sp.id)"> <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div>

                            <ul uib-pagination total-items="pageCount"
                                ng-model="currentPage"
                                class="pagination-sm"
                                ng-change="pagechaned()"
                                items-per-page="PageSize"></ul>
                        </div>
                        <div id="grid-pager"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>

    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới nhân sự</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã nhân sự:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.maNhanSu" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Tên:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.ten" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Giới tính:</label>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" value="nam" ng-model="model.gioiTinh"> Nam
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" value="nu" ng-model="model.gioiTinh"> Nữ
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Ngày sinh:</label>
                            <div class="col-sm-9" style="padding-left:10px !important">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker9'>
                                        <input type="text" class="form-control" ng-model="model.ngaySinh" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar">
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    $('#datetimepicker9').datetimepicker({
                                        viewMode: 'years'
                                    });
                                });
                            </script>
                        </div>
                    </div><br>
                    <div class="row">
                        <label class="col-sm-3 control-label no-padding-right text-right">Địa chỉ nhà riêng:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="model.diaChiNr" />
                        </div>
                    </div><br>
                    <div class="row">
                        <label class="col-sm-3 control-label no-padding-right text-right">Địa chỉ cơ quan:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="model.diaChiCq" />
                        </div>
                    </div><br>
                    <div class="row">
                        <label class="col-sm-3 control-label no-padding-right text-right">Điện thoại:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="model.dienThoai" />
                        </div>
                    </div><br>
                    <div class="row">
                        <label class="col-sm-3 control-label no-padding-right text-right">Mã phòng:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="model.maPhong" />
                        </div>
                    </div><br>
                </div>
                <div class="modal-footer no-border">
                    <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                    <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="notifycal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm dv-modal" style="width:60%">
        <div class="modal-content modal-xoa">
            <div class="tab-content tab-content_xoa">
                <div class="modal-header no-padding widget-header-small">
                    <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Xóa Thông Tin</h4>
                </div>
                <div>
                    <p>Bạn chắc chắn muốn xóa thông tin này?</p>
                </div>
                <div class="modal-footer no-border">
                    <a class="btn btn-success btn-xs btn-ok" ng-click="onDelete(idremove)"><i class="fa fa-check-square-o"></i> Đồng ý</a>
                    <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                </div>
            </div>
        </div>
    </div>
</div>
    </div><!-- /.main-content -->
