@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/ScriptController/CapcqbhScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="CapcqbhJS">

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>

                    <li>
                        <a href="#">Trang hiện tại</a>
                    </li>
                    <li class="active">Thêm mới cấp cơ quan ban hành</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới</button>
                </div><!-- /.ace-settings-box -->
            </div><!-- /.ace-settings-container -->

            <div class="page-header">
                <h1>
                    Danh sách cấp cơ quan ban hành
                </h1>
            </div><!-- /.page-header -->
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-responsive table-bordered" id="grid-table">
                        <tr>
                            <th class="text-center">Mã </th>
                            <th class="text-center">Tên </th>
                            <th class="text-center">Ghi chú</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr ng-repeat="sp in datagrid">
                            <td>{{sp.maCapCQBH}} </td>
                            <td>{{sp.tenCapCQBH}} </td>
                            <td> {{sp.ghiChu}}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" ng-click="onEdit(sp.id)"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm"></a>
                            </td>
                        </tr>
                    </table>

                    <div id="grid-pager"></div>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>



    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới cấp cơ quan ban hành</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Mã cấp cơ quan:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.maCapCqbh" />
                            </div>
                        </div>
                        <div class="row">

                            <label class="col-sm-3 control-label no-padding-right text-right">Tên cấp cơ quan:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.tenCapCqbh" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Ghi chú:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.ghiChu" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.main-content -->