@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/ScriptController/PhongBanScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="PhongBanJS">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">Thêm mới công văn</li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới</button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->
                <div class="page-header">
                    <h1>
                        Danh sách công văn
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table class="table table-responsive table-bordered" id="grid-table">
                            <tr>
                                <th>Số công văn</th>
                                <th>Loại công văn</th>
                                <th>Cơ quan ban hành</th>
                                <th>Trích yếu</th>
                                <th>Nơi lưu</th>
                                <th>Đính kèm</th>
                            </tr>
                            <tr ng-repeat="sp in datagrid">
                                <td>{{sp.SoVB}} </td>
                                <td>{{sp.TenLoaiVB}} </td>
                                <td>{{sp.TenCapCQBH}} </td>
                                <td>{{sp.TrichYeu}} </td>
                                <td>{{sp.NoiLuu}}</td>
                                <td>{{sp.FileDinhKem}} </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" ng-click="onEdit(sp.id)"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger btn-sm" ng-click="onDelete(sp.id)"> <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </table>
                        <div id="grid-pager"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div>

    @*Modal hển thị*@
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới công văn</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Số Công Văn:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.SoVB" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Tên Loại Văn Bản:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TenLoaiVB" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Cấp Cơ Quan Ban Hành:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TenCapCQBH" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Trích Yếu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.TrichYeu" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Nơi Lưu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.NoiLuu" />
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">File Đính Kèm:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.FileDinhKem" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.main-content -->
</div>

