
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/ScriptController/AddCongVanScriptController.js"></script>
<div class="main-container ace-save-state" id="main-container" ng-controller="AddCongVanJS">
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="/Home/Index">Trang chủ</a>
                    </li>
                    <li class="active">Thêm mới công văn</li>
                </ul><!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <button class="btn btn-sm btn-success" ng-click="show()">Thêm mới</button>
                    <!-- /.ace-settings-box -->
                </div><!-- /.ace-settings-container -->
                <div style="margin-left:20px; margin-right:20px">
                    <div class="page-header">
                        <h1>
                            Thêm mới công văn
                        </h1>
                    </div><!-- /.page-header -->
                    <div class="row">
                        <div>
                            <div class="widget-box">
                                <div class="widget-header">
                                    <h4 class="smaller">Danh sách công văn</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <table class="table table-responsive table-bordered" id="grid-table">
                                            <tr>
                                                <th>Số công văn</th>
                                                <th>Loại công văn</th>
                                                <th>Cơ quan ban hành</th>
                                                <th>Trích yếu</th>
                                                <th>Nơi lưu</th>
                                            </tr>
                                            <tr ng-repeat="sp in datagrid"></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.page-content -->
        </div>
    </div>

    <!--Modal hển thị-->
    <div class="modal fade" id="confirm-status" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới Công Văn</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Số công văn:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.soVb" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Loại công văn:</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="model.loaiVb">
                                    <option ng-repeat="sp in listLoaiVanBan" value="{{sp.id}}">{{sp.tenLoaiVB}}</option>
                                </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Cơ quan ban hành:</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="model.maCqbh">
                                    <option ng-repeat="sp in listCqbh" value="{{sp.id}}">
                                        {{sp.tenCQBH}}
                                    </option>
                                </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Trích yếu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.trichYeu" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Nơi Lưu:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="model.noiNhan" />
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-sm-3 control-label no-padding-right text-right">Đính kèm:</label>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <form action="" method="POST" role="form">
                                        <input type="file" id="id-input-file-2">
                                        </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onCreate()"><i class="fa fa-check-square-o"></i> Lưu</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="notifycal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm dv-modal" style="width:60%">
            <div class="modal-content modal-xoa">
                <div class="tab-content tab-content_xoa">
                    <div class="modal-header no-padding widget-header-small">
                        <button type="button" class="close btn-close-modal" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Xóa Thông Tin</h4>
                    </div>
                    <div>
                        <p>Bạn chắc chắn muốn xóa thông tin này?</p>
                    </div>
                    <div class="modal-footer no-border">
                        <a class="btn btn-success btn-xs btn-ok" ng-click="onDelete(idremove)"><i class="fa fa-check-square-o"></i> Đồng ý</a>
                        <a class="btn btn-xs btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i> Không</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(function ($) {
            $('#id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });
        })
    </script>
</div>



